@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600);

body{
	background: #e1e1e1;
	font-family: 'Open Sans', sans-serif;
}

.intro-hero-image
{
	position: relative;
	height: 550px;
	overflow: hidden;
	background: url("../images/galaxy-hero-bg-1.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.galaxy-bg
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: url("../images/dp-hero-bg.jpg") no-repeat;
	background-size: cover;
}

.bg-overlay
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}

.bg-overlay-fs
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.65);
}

.pitch, .box-contents
{
	background: #f1f1f1;
	padding:75px 15px;
	overflow: hidden;
}

.pitch-box-img
{
	position: relative;
	margin: 0 auto;
	width: 360px;
	height: 360px;
}

.pitch-box-img img
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 90%;
	margin: auto;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.pitch-heading
{
	color: #244151;
	font-size: 40px;
	line-height: 1.7em;
	margin-bottom: 25px;
	font-weight: 500;
	margin-top: 0;
}

.intro-how-it-works
{
	position: relative;
	min-height: 500px;
	background: url('../images/dp-hero-bg.jpg') no-repeat;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	overflow: hidden;
	padding: 0;
	-webkit-padding-start:0!important;
}

.intro-how-it-works .bg-overlay
{
	background: rgba(0,0,0,.55)
}

.intro-how-it-works .container
{
	z-index: 10;
	position: relative;
}

.intro-how-it-works h3
{
	line-height: 1.5em;
}

.intro-how-it-works-steps li img
{
	width: 100px;
}

.intro-how-it-works-steps li img.cancel-icon
{
	width: 75px;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
}

.intro-how-it-works-steps li h2
{
	line-height: 1.5em;
	font-weight: 500;
	color: #f1f1f1;
}

.intro-how-it-works-steps li h4
{
	line-height: 1.5em;
	font-weight: 300;
	color: #e1e1e1;
}

.box-contents ul li
{
	vertical-align: middle;
}

.confirmation
{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(255,255,255,.9);
}

.confirmation-message
{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	width: 100%;
	height: 150px;
	background: #f7f7f7;
	color: #ffffff;
	box-shadow: 0 0 5px 1px rgba(120,120,120,.3);
}






@media only screen and (min-device-width : 1024px) {
	/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	/* Styles */





}


@media only screen and (max-width : 767px) {
	/* Styles */

	.box-image
	{
		width: 75%;
		max-width: 225px;
		margin: 0 auto 20px auto;
	}

	.intro-hero-logo
	{
		width: 50%;
		margin: 20px auto 0 auto;
	}

	.intro-hero-image
	{
		height: 200px;
	}

	.pitch-heading
	{
		font-size: 28px;
		margin-top: -20px!important;
		margin-bottom: 50px;
	}

	.pitch-box-img
	{
		margin-bottom: 50px;
	}

	.box-contents-text
	{
		font-size: 16px!important;
		padding: 5px 10px!important;
	}
	.gin-text
	{
		font-size: 22px;
	}
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}