<section class="container-fluid intro-hero-image" ng-init="initLanding()">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row row-centered">
      <div class="col-sm-4 col-centered">
        <img src="images/dp-logo.png" class="img-responsive intro-hero-logo mtop10" alt="">
      </div>
      <div class="col-sm-12 col-centered">
        <img src="images/all-princesses.png" class="img-responsive intro-all-princesses" alt="">
      </div>
    </div>
  </div>
</section>

<section class="container-fluid pitch">
  <div class="container">
    <div class="row row-centered">
      <div class="col-sm-12 col-centered">
        <h2 class="text-center pitch-heading animated slideInDown mtop0">
          Hi Princess, join our <b>Magical Club</b> and be part of our story
        </h2>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-sm-5 col-centered">
        <div class="pitch-box-img animated zoomIn">
          <img src="images/dp-box-1.png" class="img-responsive">
        </div>
      </div>

      <div class="col-sm-5 col-centered">
        <h2 class="text-center pitch-heading animated slideInDown mtop60 mbot0">
          <b class="text-uppercase">$19.95</b><span class="text-lg">/box + shipping</span>
        </h2>

        <div class="pitch-box-cta text-center animated slideInUp">
          <a class="btn btn-primary btn-blue btn-x-lg">Join the Princess club</a>
          <h3 class="text-lg text-center text-super-bold text-blue">Limited Edition</h3>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid intro-how-it-works ptopbot75">
  <div class="container">
    <div class="row row-centered mbot50">
      <div class="col-sm-8 col-centered">
        <h1 class="text-center text-white mtop0 text-3x-lg animated slideInDown">How It Works</h1>
        <h3 class="text-center text-white text-thin text-lg animated slideInUp">Dream big! The Disney Princess box offers an exclusive monthly box of magical items that bring to life loved stories directly to your home.</h3>
      </div>
    </div>
    <ul class="row row-centered intro-how-it-works-steps text-white ptop30">
      <li class="col-sm-4 col-centered text-center">
        <div class="icon animated zoomIn">
          <img src="images/icons/new-episode-icon.svg">
        </div>
        <h2 class="animated slideInUp">A New Story</h2>
        <h4 class="animated slideInUp">Every box presents a scene from the beloved story. Re-create your Princess experience.</h4>
      </li>
      <li class="col-sm-4 col-centered text-center">
        <div class="icon animated zoomIn">
          <img src="images/icons/king-crown.svg">
        </div>
        <h2 class="animated slideInUp">Exclusive Items</h2>
        <h4 class="animated slideInUp">Every box includes unique figures, accessories, content and goodies just for you.</h4>
      </li>
      <li class="col-sm-4 col-centered text-center">
        <div class="icon animated zoomIn">
          <img src="images/icons/cancel-anytime-icon.svg">
        </div>
        <h2 class="animated slideInUp">Cancel Anytime</h2>
        <h4 class="animated slideInUp">You can cancel online anytime or skip a month.</h4>
      </li>
    </ul>
  </div>
  <div class="bg-overlay"></div>
</section>

<section class="container-fluid box-contents">
  <div class="container">
    <div class="row row-centered">
      <div class="col-sm-12 col-centered">
        <h2 class="text-center pitch-heading animated slideInDown mtop0 mbot0">
          What do I get in the box?
        </h2>
        <h3 class="text-center text-thin text-x-lg mtop0 animated slideInUp lineHeightNormal pleftright40">Each magical box transforms into a scene from the story and includes Princess figurines, fashion accessories and goodies.  <b>Live like a Princess, join our club.</b> </h3>
      </div>
    </div>
    <ul class="row row-centered list-unstyled list-inline mtop50">
      <li class="col-sm-4 col-centered">
        <div class="pitch-box-img animated zoomIn">
          <img src="images/dp-box-1.png" class="img-responsive">
        </div>
      </li>
      <li class="col-sm-2 col-centered">
        <i class="fa fa-angle-double-right fa-5x"></i>
      </li>

      <li class="col-sm-6 col-centered">
        <img src="images/dp-box-contents.png" style="margin-left:-75px" class="img-responsive" alt="">
      </li>

      <li class="col-sm-12 mtop50">
        <div class="pitch-box-cta text-center animated slideInUp">
          <h2 class="mbot20">Get it Now before it’s sold out.</h2>
          <a class="btn btn-primary btn-blue btn-x-lg">Join the Princess club</a>
          <h3 class="text-lg text-center text-super-bold text-blue">Limited Edition</h3>
        </div>
      </li>
    </ul>
  </div>
</section>